
<script defer src="https://www.googletagmanager.com/gtag/js?id=G-G0FC186J4T" crossorigin="anonymous"></script>
<script nonce="a87c04b15e829244ef9fd120bd4bba30">
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'G-G0FC186J4T');
</script>
<script defer>
(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
e=o.createElement(i);r=o.getElementsByTagName(i)[0];
e.src='https://www.google-analytics.com/analytics.js';
r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
ga('create','UA-26371899-1','auto');ga('send','pageview');
</script>
